/* KANJI STYLES */

:root {
    --button-bg: linear-gradient(0deg,rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    --moz-button-bg: -moz-linear-gradient(0deg,rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    --webkit-button-bg: -webkit-linear-gradient(0deg,rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    --button-border: #a4a4a4;
    --in_furi_color: #6a6a6a;
    --m_ind_color: #4a4a4a;
    --even-mean-bg: #f7f7f7;
    --odd-mean-bg: #efefef;
	--expr-color: #000000;
	--kanji-filter: ;
    user-select: none;
	--button-shadow: 0 0.2em 0.2em 0 rgba(0,0,0,0.3);
--bw: white;
}

.night_mode {
    --button-bg: linear-gradient(0deg,rgba(40, 40, 40, 1) 0%, rgba(55, 55, 55, 1) 100%);
    --moz-button-bg: -moz-linear-gradient(0deg,rgba(40, 40, 40, 1) 0%, rgba(55, 55, 55, 1) 100%);
    --webkit-button-bg: -webkit-linear-gradient(0deg,rgba(40, 40, 40, 1) 0%, rgba(55, 55, 55, 1) 100%);
    --button-border: #7a7a7a;
    --in_furi_color: #b5b5b5;
    --m_ind_color: #aaaaaa;		
    --even-mean-bg: #272727;
    --odd-mean-bg: #171717;
    --expr-color: #ffffff;
	--kanji-filter: brightness(1.5) contrast(1.5);
--button-shadow: 0 0.5em 0.8em 0 rgba(50, 50, 50, 0.3);
--bw: black;
}

button {
	background-color: var(--webkit-button-bg);
	background-color: var(--moz-button-bg);
	background-color: var(--button-bg);
	border-color: var(--button-border);

}

#compound_button {
   color: var(--in_furi_color);
		margin: 0rem;
		margin-top: 0.5rem;
	width: 100%;
	font-size: 1rem;
		background-color: var(--webkit-button-bg);
	background-color: var(--moz-button-bg);
	background: var(--button-bg);
box-shadow: var(--button-shadow);
-webkit-box-shadow: var(--button-shadow);
--moz-box-shadow: var(--button-shadow);
}
.card {
    font-family: arial;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    color: black;
    background-color: white;
}

button {
 border-radius: 1rem;
 padding: 1rem;
}
#resti_front_main_container {
	display:block;
margin: auto;
	flex-direction: column;
	align-items: center;
  justify-content: start;
	padding: 0;

}

#resti_back_main_container, #front_meaning_yomi {
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: start;
}


#kanji_yomi {
display: flex;
	align-items: start;
	justify-content: center;

}
#yomi_mean{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
	margin-left: -1rem;
	min-height: 10rem;

}
#yomi_compound{
    align-items: start;
    justify-content: center;
	display: flex;
	flex-direction: column;
	padding-bottom: 0.5rem
}
#meanings, #meanings_front {
	padding-top: 0.5rem;
	margin-bottom: 1rem;
	font-weight: bold;
	font-size: 1.8rem;
	text-align: left;
	text-wrap: balance;

}

#meanings_front {
 text-align: center
}

#yomi_container_back, #yomi_container_front{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

}


#back_kanji_yomi {
  display:flex;
	align-items: start;
	justify-content: center;
	text-align: left;

}

.yomi {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.5rem;
	font-weight: bold;
	margin: 0.2rem;
	margin-top: 0rem;
	color: var(--in_furi_color)

}


#back_kun, #back_on {
    display: flex;
		align-items: start;
	text-align: left;
	font-size: 1rem;
	font-weight: bold;
}

#kanji_front {
	font-size: 9rem;
margin-top: 0rem;
}

#kanji_container {
	min-width: 11rem;
}

#kanji_back {
    font-size: 9rem;

}

#kanji_image {
	width: 10.5rem;
	margin-left: -0.7rem;
	margin-top: -0.3rem;
 filter: var(--kanji-filter); 
}

#hint_button, .yomi, #reveal_readings {
    opacity: 0;
	transition: opacity 0.5s;
	pointer-events: none;
}

#hint_button, #reveal_readings {
font-size: 1rem;
padding: 1rem;
color: var(--in_furi_color);
	background-color: var(--webkit-button-bg);
	background-color: var(--moz-button-bg);
	background: var(--button-bg);
	box-shadow: var(--button-shadow);
-webkit-box-shadow: var(--button-shadow);
--moz-box-shadow: var(--button-shadow);
}

.alt_font {
    font-family:
        "Yu Mincho",
        "Hiragino Mincho ProN",
        "Noto Serif JP",
        serif;
}

.reading_label, .info_row {
    font-size: 1rem;
    display: block;
    color: var(--in_furi_color);
    font-weight: bold;
		min-width: 2.6rem;
		text-align: left;
}

.info_row {
	font-size: 0.70rem;
}

.reading_row, .info_row {
    display: flex;
    align-items: start;
	justify-content: start;
	margin-bottom: 0.25rem;
}
#kun_compound_header, #on_compound_header{
flex-grow: 0 1;	
font-weight: bold;
	color:var(--in_furi_color);
	margin: 0.5rem;
text-align: left;
}
#kun_compound_container, #on_compound_container {
padding-bottom: 0rem;
	background-color: var(--odd-mean-bg);
	border-radius: 0;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}


#more_on, #more_kun {
    color: var(--in_furi_color);
    flex-grow: 1 1;
		padding: 0.7rem;
	border-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	background-color: var(--webkit-button-bg);
	background-color: var(--moz-button-bg);
	background: var(--button-bg);
	border-color: var(--bw);
	margin: 0;
	margin-bottom: 1rem;
	font-size: 1rem;
box-shadow: var(--button-shadow);
-webkit-box-shadow: var(--button-shadow);
--moz-box-shadow: var(--button-shadow);
}

#on_compound_container .compound_row:nth-child(even), #kun_compound_container .compound_row:nth-child(even) {
	background-color: var(--even-mean-bg);
}

#on_compound_container .compound_row:last-child td:first-child, #kun_compound_container .compound_row:last-child td:first-child{
border-bottom-left-radius: 1rem;
}

table {
	border: none;
	text-align: left;
}


#on_compound_container .compound_row:last-child td:last-child, #kun_compound_container .compound_row:last-child td:last-child{
border-bottom-right-radius: 1rem;
}

.compound_wf {
	white-space: nowrap;
	padding-left: 0.5rem;
	padding-top: 0.1rem;
	max-width: fit-content;

}
.compound_w {
		font-size: 1.5rem;
 font-weight: bold;
	max-width: fit-content;
}

.compound_f {
 color: var(--in_furi_color);
		font-size: 0.75rem;
	max-width: fit-content;
}

.compound_m {
 color: var(--in_furi_color);

padding-left: 0.5rem;
padding-right: 1rem;
font-style: italic;
width: 100%;
}


#compound_container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
